/* HOMEWORK: write CSS so EditFood and NewFood forms look nice! */

.image {
  width: 400px;
  height: 400px;
  margin-left: 50px;
}
.header {
  background-color: white;
}

.projectname {
  position: absolute;
  color: brown;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  padding: 5px 0 0 5px;
}
.newfood {
  color: brown;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: large;
  font-style: bold;
  padding: 15px 0 0 0;
  text-align: center;
}
.form {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 16px;
  border-radius: 4px;
}

.image {
  width: 400px;
  height: 400px;
}

.foodName {
  width: 300px;
  border: 1px grey dotted;
  border-radius: 10px;
  height: 30px;
}

.imgLink {
  width: 100px;
  border: 1px grey dotted;
  border-radius: 10px;
  margin: 0 10px 0 10px;
  height: 22px;
}

.saveButton,
.deleteButton {
  text-align: center;
  border: 1px solid;
  border-color: rgb(233, 229, 229);
  border-radius: 8px;
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: medium;
  padding: 4px 8px;
  margin-top: 5px;
  margin-left: 5px;
}

.saveButton {
  position: absolute;
  right: 16px;
  bottom: 16px;
}
.deleteButton {
  position: absolute;
  right: 76px;
  bottom: 16px;
}

.saveButton {
  background-color: #558113;
}

.saveButton:hover {
  background-color: #81c221;
}

.deleteButton {
  background-color: #e00c0c;
}

.deleteButton:hover {
  background-color: #eb6767;
}
