.modal {
    position: fixed;
    top: 10vh;
    /* Homeworke: FIX PLEASE */
    width: 100%;
    margin-left: 40px;
    margin-right: 40px;
    /* align-content: center; */

    padding: 40px;
    background-color: white;
}