.tag {
  background: whitesmoke;
  /* border: 1px solid black; */
  font-size: 12px;
  color: black;

  padding: 5px 5px 5px 5px;
  margin: 0 0 10px 10px;
  border-radius: 10px;
}

.searchBox {
  background: rgb(255, 255, 255);
}

.tagList {
  width: 310px;
  display: flex;
  justify-content: left;
  flex-flow: row-reverse wrap;
}

.tagInput {
  margin: 10px 0px;
  width: 100%;
  /* width: 300px; */
  border: 1px grey dotted;
  border-radius: 10px;
  margin: 0 0 10px 10px;
  height: 30px;
}
