.tag {
  background: white;
  border: 1px solid black;
  font-size: 24px;
  padding: 4px;
  margin: 4px;
}

.searchBox {
  background: white;
}

.tagList {
  display: flex;
  flex-direction: row;
}

.tagInput {
  font-size: 40px;
  height: 25px;
}


