.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-header {
  position: sticky;
  top: 0px;
  background-color: #282c34;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main {
  background-color: rgb(85, 82, 80);
  flex-grow: 1;
}