.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mainbox {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.rightbox {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 25px;
}

form {
  margin-right: 5px;
}
input {
  margin-right: 5px;
}

.sorting {
  height: 25px;
}
.button {
  color: greenyellow;
  position: fixed;
  bottom: 30px;
  right: 25vw;
  display: inline-block;
  border-radius: 3px;
  text-align: center;

}
